<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
    <title>home page</title>
    <script src="script.js" defer></script>
</head>
<body>
    <main>
        <div class="heading">Price Pal</div>
        <div class="search-container">
			<input type="text" placeholder="Search">
	    </div>
        <footer>
        <div class="heading2">
            Automating-Price-Analysis
        </div>
        <p>
 Our website, Automating-Price-Analysis, is a powerful tool that helps users stay up-to-date with the latest prices of their favorite products online. We use the automation software Selenium to fetch prices from various online retailers and compare them side-by-side for our users to see
        </p>
    </footer>
    </main>
    
</body>
</html> -->


<!doctype html>
<html>
  <head>
    <title>Selenium Price Comparison</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <link ref="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Selenium Price Comparison</h1>
    <form action="/search" method="post">
      <input type="text" name="query" id="query">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
